<footer>
            <!--    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
			<!-- Powered by ClustrMap.com -->
			<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=e797fSqEefdoHBdml5q5R_D6oXmho3AeRaRiWp4GmV8&cl=ffffff&w=a"></script>
				<hr>
                <p><small>Last built on <b>{{ site.time | date_to_string }}</b></small></p>  
            </footer>
        </div>
        <script src="/static/minimal/javascripts/scale.fix.js"></script>
    </body>
</html>
