<p style="font-family:Georgia; font-size:15px;"><a href="/">Home</a></p>
<p style="font-family:Georgia; font-size:15px;"><a href="/project">Research</a></p>
<p style="font-family:Georgia; font-size:15px;"><a href="/publications">Publications</a></p>
<p style="font-family:Georgia; font-size:15px;"><a href="/honor">Honors</a></p>
<p style="font-family:Georgia; font-size:15px;"><a href="http://github.com/YyzHarry" target="_blank">My GitHub</a></p>

<!--
<img src="static/yyz.png"  alt="Yuzhe Yang" width="185" height="160"/>

<!-- Powered by ClustrMap.com -->
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=e797fSqEefdoHBdml5q5R_D6oXmho3AeRaRiWp4GmV8&cl=ffffff&w=a"></script>
