<ul type="circle">
    <li><a href="#"><i class="icon-play"></i>Home</a></li>
	<li><a href="#education">Education</a></li>
	<li><a href="#research">Research</a></li>
	<li><a href="#publications">Publications</a></li>
	<li><a href="#honors">Honors</a></li>
</ul>
<!--
<p><a href="#"><i class="icon-play"></i>Home</a></li>
<p><a href="#education"><i class="icon-play"></i>Education</a></p>
<p><a href="#research"><i class="icon-play"></i>Research</a></p>
<p><a href="#publications"><i class="icon-play"></i>Publications</a></p>
<p><a href="#honors"><i class="icon-play"></i>Honors</a></p>
<p><a href="http://github.com/YyzHarry" target="_blank">My GitHub</a></p>
-->

<img src="static/yyz.png"  alt="Yuzhe Yang" />
