<p><a href="/">Home</a></p>
<li><a href="#"><i class="icon-play"></i>Home</a></li>
<li><a href="#education"><i class="icon-play"></i>Education</a></li>
<li><a href="#research"><i class="icon-play"></i>Research</a></li>
<li><a href="#publications"><i class="icon-play"></i>Publications</a></li>
<li><a href="#honors"><i class="icon-play"></i>Honors</a></li>
<p><a href="http://github.com/YyzHarry" target="_blank">My GitHub</a></p>
<img src="——data/fatmouse.jpg" alt="photo" class="logo-image"/>

<!--  
<div class="container">
      <div class="row">
        <div class="span3 bs-docs-sidebar">
          <!-- We use a fancy nav bar if there is enough space ->
          <hr class="hidden-phone"/>
          <ul class="nav nav-list bs-docs-sidenav hidden-phone">
            <li><a href="#"><i class="icon-play"></i>Home</a></li>
			<li><a href="#education"><i class="icon-play"></i>Education</a></li>
			<li><a href="#research"><i class="icon-play"></i>Research</a></li>
            <li><a href="#publications"><i class="icon-play"></i>Publications</a></li>
			<li><a href="#honors"><i class="icon-play"></i>Honors</a></li>
			<li><a href="#softwares"><i class="icon-play"></i>Softwares</a></li>
            <li><a href="assets/pdf/cv_xf.pdf"><i class="icon-play"></i>CV</a></li>
          </ul>
          <hr class="hidden-phone"/>
          <div class="text-center hidden-phone">
            <img src="assets/img/feixia.png" alt="photo" class="logo-image"/>
          </div>
          <!-- Otherwise, we simply use a flat list of links ->
          <div class="visible-phone">
            <a href="#"><i class="icon-play"></i>Home</a>
            <a href="#education"><i class="icon-play"></i>Education</a>
            <a href="#research"><i class="icon-play"></i>Research</a>
            <a href="#publications"><i class="icon-play"></i>Publications</a>
            <a href="#honors"><i class="icon-play"></i>Honors</a>
			<a href="#softwares"><i class="icon-play"></i>Softwares</a>
            <a href="assets/pdf/cv_xf.pdf"><i class="icon-play"></i>CV</a>
          </div>
        </div>
		-->